[submodule "open-pencil"]
	path = open-pencil
	url = https://github.com/uengine-oss/open-pencil.git
[submodule "analyzer/analyzer"]
	path = robo-analyzer/robo-data-analyzer
	url = https://github.com/uengine-oss/robo-data-analyzer.git
	branch = main
[submodule "analyzer/frontend"]
	path = robo-analyzer/robo-data-frontend
	url = https://github.com/uengine-oss/robo-data-frontend.git
	branch = main
[submodule "analyzer/catalog"]
	path = robo-analyzer/robo-data-catalog
	url = https://github.com/uengine-oss/robo-data-catalog.git
[submodule "analyzer/fabric"]
	path = robo-analyzer/robo-data-fabric
	url = https://github.com/uengine-oss/robo-data-fabric.git
